<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">GymApp</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" aria-current="page" href="#!">
                        <div>
                            <i class="fas fa-home fa-lg mb-1"></i>
                        </div>
                        Team
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="#!">
                        <div>
                            <i class="far fa-envelope fa-lg mb-1"></i>
                        </div>
                        Projects
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="#!">
                        <div>
                            <i class="far fa-envelope fa-lg mb-1"></i>
                        </div>
                       Calendar
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="{{ path('app_display') }}">
                        <div>
                            <i class="far fa-envelope fa-lg mb-1"></i>
                        </div>
                        Users
                    </a>
                </li>
                {% if app.user %}
                <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <div>
                            <i class="far fa-envelope fa-lg mb-1"></i>
                        </div>
                        {{ app.user.username }}
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Friends</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
                {%  endif %}
            </ul>

            <!-- Left links -->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="#!">
                        <div>
                            <i class="fas fa-bell fa-lg mb-1"></i>
                            <span class="badge rounded-pill badge-notification bg-info">0</span>
                        </div>
                        Messages
                    </a>
                </li>

                <li class="nav-item text-center mx-2 mx-lg-1">
                    {% if app.user %}
                    <form method="post"  action="{{path('app_logout')}}">
                        <button type="submit">Logout</button>
                    </form>
                    {% else %}
                    <a class="nav-link" href="{{  path('app_login') }}">
                        <div>
                            <i class="fas fa-bell fa-lg mb-1"></i>
                        </div>
                        Login
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="{{ path('app_register') }}">
                        <div>
                            <i class="fas fa-bell fa-lg mb-1"></i>
                        </div>
                        Register
                    </a>
                    {%  endif %}
                </li>
            </ul>
        <!-- Collapsible wrapper -->
    </div>

    <!-- Container wrapper -->
    </div>
</nav>
<!-- Navbar -->
</body>
</html>