{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% include 'navbar/index.html.twig' %}

    <table class="table align-middle mb-0 bg-white ">
        <thead class="bg-light">
        <tr>
            <th>Id</th>
            <th>Avatar</th>
            <th>Username</th>
            <th>Email</th>
            <th>Description</th>
            <th>Workout</th>
            <th>Training_days</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>

                <td>
                    {%  if user.avatar%}
                    <img src="{{  asset('uploads/avatars/' ~ user.avatar) }}" alt="Avatar">
                    {%  else %}
                        <p>Brak</p>
                    {% endif %}
                </td>

                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.workout }}</td>
                <td>{{ user.trainingDays }}</td>
                <td>
                    <a class="text-black" href="{{ path('app_user_profile_show', {'username': user.username}) }}"><p>Show Profile</a>
                    <form action="{{ path('app_add_friends') }}" method="post">
                        <button type="submit" class="text-black">Add to friends</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
